.wrapper{
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(222, 221, 219);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    color: black;

}

.wrapper[data-alignment="right"] {
    align-self: flex-end;
    background-color: #175AD2;
    color: white;
}

.messageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.sender{
    font-size: 1.1rem;
    font-weight: 600;
}

.creationDetailsWrapper{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 300;
    gap: 10px;
    color: rgb(233, 231, 231);
}

.creationDetailsWrapper[data-color="grey"]{
    color: grey;
}

.content{
    font-size: 1rem;
}

