.button{
    cursor: pointer;
        background-color: #175AD2;
        padding: 8px;
        color: white;
        border-radius: 8px;
        border: 1px solid;
}

.button:hover{
    background-color: #093b99;
}

.button:disabled{
    background-color: #696969;
}