.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 8px;
}

.wrapper:hover{
    background-color: #a0bef5;
    color: black;
}

.chatListItem_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.wrapper:hover{
    cursor: pointer;
}

.active{
    background-color: #a0bef5;
}