.wrapper {
    border: 2px solid;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
}

.wrapper:hover{
    cursor: pointer;
}

.profileAvatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}