.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.wrapper:hover{
    cursor: pointer;
}

.username{
    font-size: 1.2rem;
    font-weight: 600;
}

.profileAvatarWrapper{
    border: 2px solid;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: white;
}
.profileAvatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}